---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

// Our variables
$primary-color:      hsl(214, 76, 53);
$primary-color-dark: hsl(214, 76, 25);
$secondary-color:    hsl(116, 70, 43);

$grey-color:       #757575;
$grey-color-light: #e5e5e5;

$on-tablet:         768px;
$on-desktop:        992px;
$on-large-desktop: 1200px;

// Use media queries like this:
// @include media-query($on-tablet) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
  font-size: 16px;
}

main {
  padding: 20px 10px;
  margin: 0 auto;
  max-width: 50em;
}
#post {
  p:first-child {
    font-size: 1.2em;
  }
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1, h2,
strong {
  color: #000;
}

a {
  color: $primary-color;
  font-weight: bold;
}
a:visited {
  color: $primary-color-dark;
}

#page-header {
  max-width: none;
  padding: 50px;
  background-image: url('../img/header.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  text-align: center;

  nav a {
    font-size: 0.8em;
  }

  h1 {
    color: #fff;
    font-size: 2.5em;
    font-weight: 300;
    font-weight: normal;
  }

  img {
    display: inline-block;
    height: 120px;
    width: 120px;
    vertical-align: top;
  }
}

nav a,
nav a:visited {
  border: 1px solid $primary-color;
  border-radius: 3388px;
  color: #fff;
  white-space: nowrap;
  padding: 1em 2em;
  margin: 1em 0;
  display: block;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;

  &:hover, &.current {
    background: $primary-color;
    color: #fff;
  }
}

figure.highlight {
  margin: 0px;
}
code, pre {
  background: #eee;
}
code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}
pre {
  padding: 1em;
  border-bottom: 1px solid #ddd;
  border-left: 2px solid $secondary-color;
  overflow-x: auto;
  code {
    padding: 0;
  }
}

.buttons {
  text-align: center;
}

@mixin social-button($color) {
  strong { color: $color; }
  &:hover { background: $color; }
}

.button {
  border: 1px solid #ddd;
  border-radius: 3388px;
  padding: 1em;
  margin: 1em;
  text-align: center;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
  display: block;

  &, &:visited {
    color: #bbc;
  }

  &:hover {
    border-color: transparent;
    strong { color: #fff !important; }
  }
  &.facebook { @include social-button(#3b5998); }
  &.twitter  { @include social-button(#1da1f3); }
  &.hn       { @include social-button(#ff6600); }

  em {
    display: block;
    font-size: 0.8em;
  }
}

nav#about {
  a,
  a:visited {
    color: $primary-color;
  }
  a:hover {
    color: #fff;
  }
  a:hover path {
    fill: #fff;
  }
}

footer {
  border-top: 1px solid #ddd;
  background: #eee;
  color: #333;
  padding: 2em;

  hr {
    margin: 2em 1em;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fff;
  }

  p {
    text-align: center;
  }
}

.post-preview h2 {
  font-weight: normal;
  a {
    text-decoration: none;
  }
}

.nowrap { white-space: nowrap; }

@import "responsive";
@import "icons";
@import "syntax-highlighting";
@import "pagination";

.sw--love:hover {
  span { display: none; }
  &:after { content: "love"; }
}
