---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

// Our variables
$primary-color:      #2a7ae2;
$secondary-color:    #2bbb21;

$grey-color:       #757575;
$grey-color-light: #e5e5e5;

$on-tablet:        768px;
$on-desktop:       992px;
$on-large-desktop:  1200px;

// Use media queries like this:
// @include media-query($on-tablet) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
}

main {
  padding: 4em 1em;
  margin: 0 auto;
  max-width: 50em;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1, h2,
strong {
  color: #000;
}

a {
  color: $primary-color;
}

header {
  max-width: none;
  padding: 10vw 2em;
  background-image: url('../img/header.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  text-align: center;

  h1 {
    color: #fff;
    font-size: 2.5em;
    font-weight: 300;
    font-weight: normal;
  }

  a {
    border: 1px solid $primary-color;
    border-radius: 3388px;
    color: #fff;
    font-size: 0.8em;
    padding: 1em 2em;
    text-decoration: none;
    transition: none 200ms ease-out;
    transition-property: color, background;
  }
  a:hover {
    background: $primary-color;
    color: #fff;
  }

  img {
    display: inline-block;
    height: 120px;
    width: 120px;
    vertical-align: top;
  }
}

figure.highlight {
  margin: 0px;
}
code, pre {
  background: #eee;
}
code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}
pre {
  padding: 1em;
  border-bottom: 1px solid #ddd;
  border-left: 2px solid $secondary-color;
  overflow-x: auto;
}

.buttons {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}

@mixin social-button($color) {
  strong { color: $color; }
  &:hover { background: $color; }
}

.button {
  width: 30%;
  border: 1px solid #ddd;
  border-radius: 3388px;
  color: #bbc;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
  display: block;

  &:hover {
    border-color: transparent;
    strong { color: #fff !important; }
  }
  &.facebook { @include social-button(#3b5998); }
  &.twitter  { @include social-button(#55acee); }

  em {
    display: block;
    font-size: 0.8em;
  }
}

@import "syntax-highlighting";
