Header set Strict-Transport-Security "max-age=15552000"

RewriteEngine On

RewriteCond %{HTTPS} =off [OR]
RewriteCond %{HTTP_HOST} =www.hutter.io [NC]
RewriteRule ^ https://hutter.io%{REQUEST_URI} [QSA,L,R=301]
