---
layout: default
---
<div id="post-list">
  {% for post in paginator.posts %}
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
      <header class="post-header">
        <h2 class="post-title">
          <a href="{{ post.url | prepend: site.baseurl }}" itemprop="name headline">{{ post.title }}</a>
        </h2>
      </header>
      <div class="post-content" itemprop="articleBody">{{ post.content }}</div>
      <footer class="post-footer">
        <span class="post-meta">
          {% include icon-calendar.html %}
          <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%a, %-d. %b %Y" }}</time>
        </span>
      </footer>
    </article>
  {% endfor %}
</div>

{% include pagination.html %}
