/**
* Reset some basic elements
*/
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
* Box-sizing
*/
html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
  }

/**
* Basic styling
*/
body {
  font: $base-font-weight #{$mobile-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $body-color;

  @include media-query($on-laptop) {
    font-size: $base-font-size;
  }
}

/**
* Set `margin-bottom` to maintain vertical rhythm
*/
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
* Images
*/
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
* Figures
*/
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
* Lists
*/
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
* Headings
*/
h1, h2, h3, h4, h5, h6 {
  font-weight: $light-font-weight;
  a { text-decoration: none; }
}
h2, h3, h4, h5, h6 {
  margin-top: $spacing-unit;
}

/**
* Links
*/
a {
  color: $brand-color;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
  }
}

/**
* Blockquotes
*/
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
* Code formatting
*/
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eee;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
* Clearfix
*/
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
* Icons
*/
.icon {
  text-decoration: none;
  text-rendering: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  > svg {
    display: inline-block;
    height: 16px;
    // margin-bottom: 4px;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
    path.icon-cutout {
      fill: #fff;
    }
  }
}

/**
* Helpers etc
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.hidden {
  display: none;
}

.small {
  font-size: $small-font-size;
}

.nobreak {
  white-space: nowrap;
}
