#sidebar {
    background-color: #fff;
}
#site-header {
  padding: $spacing-unit / 2;
  position: relative;
  background: $brand-color;
  background-image: linear-gradient(120deg, #2179d4, #2bbb21);
}

#site-title {
  font-size: 32px;
  margin: 0px;
  a, a:visited, a:hover {
    color: #fff;
  }
}

#navbar-toggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: $spacing-unit / 2;
  margin: $spacing-unit / 2;
  border: 1px solid $grey-color-light;
  border-radius: 4px;
  background-color: #fff;
  font-size: 1.5em;

  .icon-bar {
    display: block;
    width: 24px;
    height: 2px;
    border-radius: 1px;
    background: #333;
  }
  .icon-bar + .icon-bar {
    margin-top: 4px;
  }

  // @include media-query($on-tablet) {
  //   display: none;
  // }
}

.sidebar-link-list {
  list-style: none;
  margin: 0px;

  li {
    border-top: 1px solid $grey-color-light;
    padding: 0.8em 0;
  }
  li:first-child {
    border-top: none;
  }

  a {
    color: $text-color;
  }
}

#main-menu {
  padding: $spacing-unit;
  .current a {
    font-weight: bold;
  }
}

#site-footer {
  padding: $spacing-unit;
  border-top: 1px solid #eee;
}

.post {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  background: #fff;
}
.post > * {
  padding: 0 $spacing-unit / 2;
}

.post-title {
  margin: 0 0 $spacing-unit/2 0;
}

.post-content {
  padding: 0 $spacing-unit / 2;
}
.post-footer {
  color: $grey-color;
}
