#sidebar {
  background-color: #fff;
}
#site-header {
  padding: $spacing-unit / 2;
  position: relative;
  background: $brand-color;

  background: linear-gradient(120deg, #2179d4, #2bbb21);
  background-size: 200% 200%;

  -webkit-animation: HeaderAnimation 29s ease infinite;
  -moz-animation: HeaderAnimation 29s ease infinite;
  -o-animation: HeaderAnimation 29s ease infinite;
  animation: HeaderAnimation 29s ease infinite;

  @-webkit-keyframes HeaderAnimation {
      0%{background-position:0% 51%}
      50%{background-position:100% 50%}
      100%{background-position:0% 51%}
  }
  @-moz-keyframes HeaderAnimation {
      0%{background-position:0% 51%}
      50%{background-position:100% 50%}
      100%{background-position:0% 51%}
  }
  @-o-keyframes HeaderAnimation {
      0%{background-position:0% 51%}
      50%{background-position:100% 50%}
      100%{background-position:0% 51%}
  }
  @keyframes HeaderAnimation {
      0%{background-position:0% 51%}
      50%{background-position:100% 50%}
      100%{background-position:0% 51%}
  }
}

#site-title {
  font-size: 32px;
  margin: 0px;
  a, a:visited, a:hover {
    color: #fff;
  }
}

#navbar-toggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: $spacing-unit / 2;
  margin: $spacing-unit / 2;
  border: 1px solid $grey-color-light;
  border-radius: 4px;
  background-color: #fff;
  font-size: 1.5em;

  .icon-bar {
    display: block;
    width: 24px;
    height: 2px;
    border-radius: 1px;
    background: #333;
  }
  .icon-bar + .icon-bar {
    margin-top: 4px;
  }

  @include media-query($on-tablet) {
    display: none;
  }
}

.sidebar-link-list {
  list-style: none;
  margin: 0px;

  li {
    border-top: 1px solid $grey-color-light;
    padding: 0.8em 0;
  }
  li:first-child {
    border-top: none;
  }

  a {
    color: $text-color;
  }
}

#main-menu {
  padding: $spacing-unit / 2;
  .current a {
    font-weight: bold;
  }
}

#menu-collapse.collapsed {
  @media screen and (max-width: $on-phone) {
    display: none;
  }
}

#site-footer {
  padding: $spacing-unit / 2;
  border-top: 1px solid #eee;
}
.footer-text {
  text-align: center;
  font-size: 0.875rem;
}

.post {
  border-top: 1px solid $grey-color-light;
  background: #fff;
}
.post > * {
  padding: $spacing-unit / 2;
}

.post-title {
  margin: 0px;
}

.post-header {
  padding-bottom: 0 !important;
}
.post-footer {
  padding-top: 0 !important;
  color: $grey-color;
}
.comments {
  padding-top: 0 !important;
}

@include media-query($on-tablet) {
  #page {
    padding: $spacing-unit / 2;
  }
  #sidebar {
    float: left;
    width: 30%;
    border: 1px solid $grey-color-light;
  }

  #content {
    width: 70%;
    float: left;
  }

  .post {
    margin-left: $spacing-unit / 2;
    margin-bottom: $spacing-unit / 2;
    border: 1px solid $grey-color-light;
  }
}

@include media-query($on-laptop) {
  #page {
    padding: $spacing-unit;
  }

  #site-header,
  #main-menu,
  #site-footer {
    padding: $spacing-unit;
  }

  .post {
    margin-left: $spacing-unit;
    margin-bottom: $spacing-unit;
  }
  .post > * {
    padding: $spacing-unit;
  }
}

@include media-query($on-large-screen) {
  #sidebar {
    width: 20%;
  }

  #content {
    width: 80%;
  }

}
