<!doctype html>
<html lang="en">
{% include head.html %}
<body>

{{ content }}

{% include footer.html %}

<script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.mhu.dev/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '3']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><img referrerpolicy="no-referrer-when-downgrade" src="https://stats.mhu.dev/matomo.php?idsite=3&amp;rec=1" style="border:0" alt="" /></noscript>
</body>
</html>
